* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url(../images/pexels-pixabay-417173.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-1  h1 {
    font-size: 120px;
    position: absolute;
    left: 20%;
}

#hero-2 {
    background-image: url(../images/pexels-fwstudio-33348-129731.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}

#hero-2 h2 {
    font-size: 72px;
    color: white;
    position: absolute;
    right: 20%;
    bottom: 50%;
}

#hero-2 h4 {
    font-size: 24px;
    color: white;
    position: absolute;
    right: 20%;
    bottom: 47%;
}

#hero-2 a {
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 41%;
}
