sqqqq* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    flex: 1;
    order: 2;
    align-items: center;
}

#main-content {
    flex: 1;
    order: 1;
}