/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    padding: 35px ;
    border-width: 10px ;
    border-style: solid ;
    display: inline-block;
}

.mindaro {
    background-color: #F18F01;
    border-color: #C73E1D;
    border-radius: 75px;
} 

.hollywood {
    background-color: #EF798A;
    border-color:  #EC058E;
}

.sea {
    background-color: #89FC00;
    border-color: #14591D;
}

.space {
    background-color: #222E50;
    border-color: #62BBC1 ;
    border-radius: 8px 60px;
}

.crimson {
    background-color: #D72638;
    border-color: #550C18;
    border-radius: 75px 24px;
}

.violet {
    background-color: #F679E5;
    border-color: #5B1865;
}

.aure {
    background-color: #FCF300;
    border-color: #F3DE8A;
    border-radius: 2px 17px;
}