* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url(..//images/minion.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero h1 {
    font-size: 40px;
    position: absolute;
    left: 70%;
    margin-bottom: 55%;
}