* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar-1 {
    background: linear-gradient(to bottom, #91972A, #3E6D3E);
    display: flex;
    justify-content: center;
}

#navbar-1 a {
    text-decoration: none;
    color: #ffee03;
    padding: 24px;
    font-size: 25px;
}

#navbar-1 #logo {
    margin-right: 10%;
}

#navbar-1 #Gallery {
    justify-content: center;
}

#navbar-1 #contact {
    justify-content: center;
}

#navbar-2 {
    justify-content: center;
    display: flex;
    background: linear-gradient( to top, #D76A03, #F5BB00);
    padding: 24px;
}

#navbar-2 a {
    text-decoration: none;
    padding: 12px;
    color: #792103;
    font-size: large;
}

#navbar-2 #name {
    font-weight: bold;
    margin-right: 60px;
}

#navbar-2 .cta-button {
    background-color: blanchedalmond;
    color: #792103;
    border-radius: 24px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
}